.instructions {
    opacity: 0.5;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
}

.instructions h1 {
    text-align: middle;
}